{{ define "webhook.template" }}
{
  "podName": "{{ .Labels.pod | default "unknown" }}",
  "namespace": "{{ .Labels.namespace | default "unknown" }}",
  "cpuUsage": {{ with .Annotations.cpuUsage }}{{ . }}{{ else }}0{{ end }},
  "ramUsage": {{ with .Annotations.ramUsage }}{{ . }}{{ else }}0{{ end }},
  "bandWidthUsage": {{ with .Annotations.bandWidthUsage }}{{ . }}{{ else }}0{{ end }}
}
{{ end }}
