{{ define "telegram.default.message" }}
DEMO ALERT TELEGRAM

{{if eq .Status "firing"}}
Status: <b>{{.Status | toUpper }} 🔥</b>
{{end}}
{{- if eq .Status "resolved"}}
Status: <b>{{.Status | toUpper}} ✅</b>
{{end}}
<b>Instance: DEMO</b>
Labels:

{{- if eq (len .CommonLabels) (len .GroupLabels) }}
      Labels: ìnoo  
{{end}}
{{end}}
