{{ define "telegram.default.message" }}
DEMO ALERT TELEGRAM

{{if eq .Status "firing"}}
Status: <b>{{.Status | toUpper }} 🔥</b>
{{end}}
{{- if eq .Status "resolved"}}
Status: <b>{{.Status | toUpper}} ✅</b>
{{end}}
<b>Instance: DEMO</b>
Labels:

{{ range $key,$val := .GroupLabels -}}
    <b>[</b> {{$val}} <b>]</b>
    <b>[</b> {{$key}} <b>]</b>

{{- end }} 

{{ .CommonLabels }}
{{ .CommonAnnotations }}

  [{{ .Status | toUpper -}}
  {{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{- end -}}
  ] 
  
{{- end -}}

