groups:
- name: Container
  rules:
  - alert: Container Táº¯t
    expr: container_state_status{status='exited'} == 1
    for: 1m
    labels:
      severity: critical
      category: container
    annotations:
      summary: Container killed (instance {{ $labels.instance }}  ) {{ $labels.name }}
      description: |
       Container name:{{ $labels.name }}
       A container has disappeared

